@use "sass:map";
@use "sass:meta";
@use "_variables" as *;

//
// Screen sizes function
// -----------------------------------------------------------------------------

@function screenSize($key) {

    @if map.has-key($screenSizeMap, $key) {
        @return map.get($screenSizeMap, $key);
    }

    @warn "Unknown #{$key} in $screenSizeMap.";
    @return null;
}

//
// Breakpoint Mixin
// -----------------------------------------------------------------------------

@mixin breakpoint($size) {
    @if meta.type-of($size)=="number" {
        @media (min-width: $size) {
            @content;
        }
    }

    @else {
        @media (min-width: screenSize($size)) {
            @content;
        }
    }
}

//
// Mixin to add transition and hover color effect
// -----------------------------------------------------------------------------

@mixin hoverEffect($color: #e50012, $transition: 0.5s ease) {
    transition: color $transition, fill $transition;

    &:hover {
        color: $color;
        fill: $color;
    }
}


@mixin blueButton {
    width: max-content;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: normal;
    color: $white;
    padding: 20px 40px;
    border-radius: 8px;
    border: none;
    background-color: $mainSkyblue;
    cursor: pointer;
    transition: background-color 0.3s ease-out;

    &:hover {

        background-color: $yellow;
    }
}
